<configuration>
    <system.webServer>
        <rewrite>
            <rules>
                <rule name="Extrusion">
                    <match url="/*" />
                    <action type="Rewrite" url="backend_server.js" />
                </rule>
            </rules>
        </rewrite>

        <iisnode 
            enableXFF="true" 
            loggingEnabled="true" 
            devErrorsEnabled="true" 
            node_env="production" 
            nodeProcessCommandLine="&quot;C:\nvm4w\nvm\v22.17.0\node.exe&quot;" 
            interceptor="&quot;%programfiles%\iisnode\interceptor.js&quot;" 
        />
    </system.webServer>
    <location path="" overrideMode="Deny">
        <system.webServer>
            <handlers>
                <add name="iisnode" path="backend_server.js" verb="*" modules="iisnode" />
            </handlers>
        </system.webServer>
    </location>
</configuration>